<div class="row">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header>
        Sources
      </nb-card-header>
    
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (createConfirm)="onCreateConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Chart</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie [data]="sources"></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>
</div>


